body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 32px 0 100px;
    background-color: #1F2838;
    color: #fff;

}

.navrow {
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navrow ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.navrow h2 {
    margin: 0;
}

.headerContent h1 {
    font-size: 3em;
    margin: 0;
}

.headerContent p {
    opacity: .85;
}

.headerContent>* {
    width: 49.5%;
}

.headerContent button {
    color: #fff;
    background-color: #3A82F6;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    padding: 8px 40px;
}

.imagePlaceHolder {
    background-color: #6D747D;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent {
    align-items: stretch;
    display: flex;
}

.cta {
    padding-right: 40px;
}

.header2 {
    margin: 0;
    background-color: #fff;
    color: #1F2838;
}

.picHolder {
    opacity: .85;
    width: 170px;
}

.box {
    height: 170px;
    margin: 0;
    border-style: solid;
    border-color: #3A82F6;
    border-radius: 25px;
}

.text {
    color: #4C5563;
    float: left;
    padding-top: 10px;
    text-align: center;
}

.flexWrap {
    display: flex;
    gap: 22px;
    justify-content: center;
    flex-wrap: wrap;

}

.header2 h1 {
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
}

.quoteSection {
    background-color: #E5E7EB;
    padding: 100px;
    opacity: 100%;
    text-align: center;
    font-style: italic;
    font-size: large;
}

.ctaSection {
    background-color: #3A82f6;
    max-width: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 400px;
    border-radius: 35px;
    height: 100px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-evenly;
}

.ctaButton {
    padding: 0;
    color: black;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    border: 2px solid #fff;
    border-color: #1F2838;
    border-radius: 30px;
    background-color: #3A82F6;
    align-items: center;
}

.author {
    text-align: right;
    font-style: normal;
}